<div>
    <router-outlet></router-outlet>
</div>
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 style="color: white;">Star Finance</h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a  routerLink="/dashboard" style="color:white" class="nav-link scrollto active">Home</a></li>
                    <li><a href="#about" style="color:white;" class="nav-link scrollto"></a></li>
                    <li><a style="color:white;" class="nav-link scrollto" href="#services">Services</a></li>

                    <li style="color:white;" class="dropdown"><a style="color:white;" href="#"><span>KYC Verification</span>
                         <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">KYC Documents</a></li>

                            <li><a href="#">Document Upload</a></li>
                        </ul>
                    <li style="color:white;" class="dropdown"><a style="color:white;" href="#"><span>Loan Form</span>
                        <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a routerLink="/loanform">loanform</a></li>

                            <li><a href="#">Document Upload</a></li>
                        </ul>
                    </li>
                    <li><button (click)="onclick()" class="otpbtn">Logout</button></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>