<div>
  <router-outlet></router-outlet>
</div>

<div>
  <app-navsection></app-navsection>
</div>



<div class="container">
 

  <div style="margin-top: 100px;">
    <div class="box">
      <table class="table table-bordered">
        <thead  style="background-color: #581845;color:white">
          <tr>
            <th scope="col"style="text-align: center;">S.No.</th>
            <th scope="col"style="text-align: center;">Mandatory Document</th>
            <th scope="col"style="text-align: center;">Identity</th>
            <th scope="col"style="text-align: center;">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="text-align: center;">1</th>
            <td style="text-align: center;">PAN Card</td>
            <td style="text-align: center;">Y</td>
            <td style="text-align: center;">N</td>
          </tr>

        </tbody>
      </table>
      <div>

      </div>
      <div style="margin-top:90px;">
        <table class="table table-bordered">
          <thead style="background-color: #581845;color:white">
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col" style="margin-left: 10px;text-align: center;">Officially valid documents (OVD) legal name
                & current address of Individuals*<br>
                [Any one of the following can be accepted]</th>
              <th scope="col">Identity</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Passport, the validity of which has not expired.</td>
              <td style="text-align: center;">Y</td>
              <td style="text-align: center;">Y</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td> Driving license which has not expired.</td>
              <td style="text-align: center;">Y</td>
              <td style="text-align: center;">Y</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Proof of possession of Aadhaar Number* ( to be obtained voluntarily)</td>
              <td style="text-align: center;">Y</td>
              <td style="text-align: center;">Y</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Letter issued by the National Population Register containing details of name, address.</td>
              <td style="text-align: center;">Y</td>
              <td style="text-align: center;">Y</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Election /Voters identification card</td>
              <td style="text-align: center;">Y</td>
              <td style="text-align: center;">Y</td>
            </tr>
           <tr>
              <th scope="row">6</th>
              <td>Job card issued by NREGA duly signed by the officer of the State Government
              <td style="text-align: center;">Y</td>
              <td style="text-align: center;">Y</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------->

