<div>
    <app-samplenav></app-samplenav>
</div>

<div class="container-fluid" style="margin-top: 150px;margin-left:100px;">
    <div class="row">
        <div class="col-sm-6">
            <h5 class="card-title" style="font-style: italic;font-size:30px;">Fulfill your dreams by taking a loan
                against Gold!</h5>
            <p class="card-text" style="font-style: italic;">Get a loan at attractive rates with minimum documentation.
                Use this Gold Loan
                Calculator, to work out your EMIs and tenure.</p>
            <div class="card" style="padding:2rem; border:2px solid #581845;">
                <h5 class="card-header">Gold loan calculator</h5>
                <div class="card-body" style="border:1px solid #581845;">
                    <div class="card">
                        <div class="card-body">

                            <div class="card-body">
                                <div class="title-block">
                                    <select id="gold" class="Ornaments" [(ngModel)]="ornamentsType"
                                        (change)="ornamentsType" name="Ptype"
                                        style="border: none; background-color:#e6cadd;">
                                        <option value="Select Ornaments">Select Ornaments</option>
                                        <option value="Necklace">Necklace</option>
                                        <option value="Ring">Ring</option>
                                        <option value="Chain">Chain</option>
                                        <option value="Gold Coin">Gold Coin</option>
                                        <option value="Solid Bangles">Solid Bangles</option>
                                        <option value="Others">Others</option>
                                    </select>

                                    <input class="name" type="text" id="netWeight" [(ngModel)]="netWeight"
                                        placeholder="Net Weight (gms)" name="gms"
                                        style="border: none;background-color:#e6cadd;" />

                                    <select id="carat" class="carat" [(ngModel)]="caratType"
                                        style="border: none;background-color:#e6cadd;" (change)="caratType">
                                        <option value="Select Caratage">Select Caratage</option>
                                        <option value="22">22</option>
                                        <option value="24">24</option>

                                    </select>
                                </div>
                            </div>

                            <hr style="color: #581845;">
                            <div class="title-block">

                                <input class="name" type="text" id="name" placeholder="Total Cost" [value]="totalCost"
                                    name="gms" style="border: none;background-color:#e6cadd;" />

                                <input class="name" type="text" id="name" placeholder="Eligible loan amount"
                                    [value]="eloanamt" name="gms" style="border: none;background-color:#e6cadd;" />

                                <button style="background-color: #581845;color:white"
                                    (click)="calculateCost()">Calculate</button>
                                <div class="title-blocks"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4" style="margin-top: 90px;">
            <img src="https://www.animatedimages.org/data/media/701/animated-scales-image-0020.gif"
                style="width: 250px; height:250px;">
        </div>
    </div>
</div>
<!------------------------------------------------------------------------>
<div class="container" style="margin-top: 90px;margin-left: 100px;">
    <div *ngIf="isvisible">
        <div class="card" style="padding:2rem; border:2px solid #581845;width: 400px;">

            <div class="card-body">
                <div class="title-block">
                    Ornament Name: {{ornamentsType}}
                </div>
                <div class="title-block">
                    Net Weight(grams): {{netWeight}}
                </div>
                <div class="title-block">
                   price per gram: {{result}}
                </div>
            </div>
            <div class="title-block">
                Carat Type: {{caratType}}
            </div>
            <div class="title-block">
                Total Cost: {{totalCost}}
            </div>
            <div class="title-block">
                Eligibility Loan: {{eloanamt}}
            </div>
        </div>
    </div>
</div>
