html
body {
    min-height: 100%;
}

body,
div,
form,
input,
select {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: sans-serif;
    font-size: 14px;
    color: #740461;
    line-height: 22px;
}

h1 {
    color: black;
    font-family: fantasy;
    font-size: 60px;
    padding: 20px;

}

h4 {
    margin: 20px 0 4px;
    font-weight: 400;
}

span {
    color: rgb(59, 6, 55);
}

.small {
    font-size: 10px;
    line-height: 18px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}

form {
    width: 50%;
    padding: 20px;
    background: #740461;
    box-shadow: 0 2px 5px #740461;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #740461;
    border-radius: 3px;
    vertical-align: middle;
}

input:hover,
textarea:hover,
select:hover {
    outline: none;
    border: 1px solid #740461;
    background: #e7e2e7;
}

.title-block select,
.title-block input {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    padding: 10px;
    font-size: 20px;
}



.title-blocks input {
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-size: 20px;
}


select {
    padding: 7px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
}

select,
table {
    width: 100%;
}

option {
    background: #fff;padding: 10px;
}

.day-visited,
.time-visited {
    position: relative;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
}

.day-visited i,
.time-visited i,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 8px;
    font-size: 20px;
}

.day-visited i,
.time-visited i {
    right: 5px;
    z-index: 1;
    color: #a9a9a9;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
}

.question-answer label {
    display: block;
    padding: 0 20px 10px 0;
}

.question-answer input {
    width: auto;
    margin-top: -2px;
}

th,
td {
    width: 18%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}

.first-col {
    width: 25%;
    text-align: left;
}

textarea {
    width: calc(100% - 6px);
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#740461;
    font-size: 16px;
    color: #740461;
    cursor: pointer;
}

button:hover {
    background-color: #740461;
}

@media (min-width: 568px) {
    .title-block {
        display: flex;
        justify-content: space-between;
    }

    .title-block select {
        width: 30%;
        margin-bottom: 0;
    }

    .title-block input {
        width: 31%;
        margin-bottom: 0;
    }

    th,
    td {
        word-break: keep-all;
    }

    .card {
        padding: 10px;
        
    }

    .productType {
        padding: 10px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    .cardtitle{
        font-family: fantasy;
        padding: 10px;
        color: black;
        background-color: #470433;
        font-size: 20px;
        left: 300px;

    }
}

hr {
    clear: both;
    height: 1px;
    min-height: 0;
    margin: 30px auto;
    padding: 0;
    text-align: center;
   /* color: rgb(63, 4, 60);*/
    border: none;
    border-top: medium double rgb(70, 1, 53);
    width:100%;
}

.imgbox{
margin-left: 1100px;
margin-top: -280px;

}