<div>
    <app-navsection></app-navsection>
</div>
<div class="container-fluid">
    <div style="margin-top:100px;margin-left: 150px;">
        <h5 style="color: #581845;font-weight: bold;margin-left:180px;">Upload Document</h5>
        <div style="margin-left:180px; color:#581845">Document can be in PDF | JPG | JPEG | BMP | XLS | XLSX | DOC |
            DOCX. Document size should be less than 4MB</div>
    </div><br>
    <div class="box" style="padding: 30px;margin-left: 350px;">
        <div>
            <table>
                <tr style="color: #581845;"> Select Your Document Type*</tr><br>
               
                <tr><input type="radio" name="rb" value="KYC" style="color: #581845;" (click)="onSelect()">&nbsp;KYC &nbsp;
                    <input type="radio" name="rb" value="Photograph" style="color: #581845;"(click)="onSelect1()">&nbsp;Photograph &nbsp;
                </tr>
                <hr class="line">
            </table>

            <div class="container">
                <div  *ngIf="isVisible">
                    <div style="color: #581845;text-align:center;"> Mandatory proof: Aadhar card/PAN card/Driving license</div><br>
                <div class="row" style="margin-left: 40px;">
                    <div class="col-sm-6">
                        <form name="form" [formGroup]="form">
                       <div class="form-group">
                           <input type="radio" name="rb1" value="Aadhar Card" style="color: #581845;" (click)="onSelect2()"> Aadhar Card
                           
                              <div *ngIf="isVisible2">
                                  <input type="text" style="width: 250px;" #aadhar formControlName="aadhar" class="form-control" 
                                   [ngClass]="{'is-invalid': form.get('aadhar').touched && form.get('aadhar').invalid}" />
                                   
                                   <div *ngIf="{'is-invalid': form.get('aadhar').touched && form.get('aadhar').invalid}"class="invalid-feedback"></div>
                                    <div *ngIf="form.get('aadhar').errors.required" style="color: crimson;">required*</div>
                                    <div *ngIf="form.get('aadhar').errors.pattern" style="color: crimson;">Aadhar number cannot contain alphabets*</div>
                                    <div *ngIf="form.get('aadhar').errors.maxlength" style="color: crimson;">Incorrect Aadhar number*</div>
                                </div> 
                                <br><br>
                            
                           <input type="radio" name="rb1" value="PAN Card" style="color: #581845;"(click)="onSelect3()"> PAN Card
                           
                           <div *ngIf="isVisible3"><input type="text" style="width: 250px;"formControlName="pan" class="form-control" 
                            [ngClass]="{'is-invalid': form.get('pan').touched && form.get('pan').invalid}"/>

                            <div *ngIf="{'is-invalid': form.get('pan').touched && form.get('pan').invalid}"class="invalid-feedback"></div>
                            <div *ngIf="form.get('pan').errors.required" style="color: crimson;">required*</div>
                            <div *ngIf="form.get('pan').errors.pattern" style="color: crimson;">should be alpha numeric*</div>
                            <div *ngIf="form.get('pan').errors.maxlength" style="color: crimson;">Incorrect Pan number*</div>

                        </div>
                        <br><br>
                      
                           <input type="radio" name="rb1" value="Driving License" style="color: #581845;"(click)="onSelect4()"> Driving License 
                                <div *ngIf="isVisible4"><input type="text" style="width: 250px;"formControlName="driving" class="form-control" 
                                    [ngClass]="{'is-invalid': form.get('driving').touched && form.get('driving').invalid}"/>

                                    <div *ngIf="{'is-invalid': form.get('driving').touched && form.get('driving').invalid}"class="invalid-feedback"></div>

                                  <div *ngIf="form.get('driving').errors.required" style="color: crimson;">required*</div>
                                  <div *ngIf="form.get('driving').errors.pattern" style="color: crimson;">should be alpha numeric*</div>
                                 <div *ngIf="form.get('driving').errors.maxlength" style="color: crimson;">Incorrect Pan number*</div>
                                </div> 
                    </div>  
                </form>
                   </div>
                    <div class="col-sm-6">
                           <input type="radio" name="rb1" value="Gass Bill" style="color: #581845;"> Gass Bill
                           <br><br>
                           <input type="radio" name="rb1" value="Postapaid Bill" style="color: #581845;"> Postapaid Bill
                            <br><br>
                           <input type="radio" name="rb1" value="Electricity Bill" style="color: #581845;"> Electricity Bill
                    </div>
                </div>
            </div>
            <br><br>
            <div>
                <p style="text-align: center;">
                    Please Select the proofs that want to submit | For any queries refer or
                    For Uploading the document refer KYC Rule Guide | <a routerLink="/kycruleguide">KYC Rule Guide</a>
                </p>
            </div>
            <br>
            <div *ngIf="isVisible1">
            <div class=row>
                <div class="col-sm-6" style="margin-bottom: 30px;">
                    <div style="margin-left: 50px;">
                        <img class="propic1" [src]="urllink">
                        <input type="file" class="btn btn-sm" (change)="selectFiles($event)" style="width:200px;">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="margin-top:170px;margin-left: 40px;"><br><button class="btn" (click)="onSubmit($event)">Submit Documents</button></div>
                </div>
                <p>{{msg}}</p>

            </div>
        </div>
        </div>
    </div>
</div>

</div>