<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            
            <h2 style="color: white;"><span><img src="assets\images\logo.jpeg"></span> Star Finance</h2>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a  routerLink="/landing" style="color:white" class="nav-link scrollto">Home</a></li>
                <li><a href="#about" style="color:white;" class="nav-link scrollto">About us</a></li>
                <li><a href="#about" style="color:white;" class="nav-link scrollto">Contact us</a></li>
                <li><a style="color:white;" class="nav-link scrollto" href="#services">Services</a></li>
                <li style="color:white;" class="dropdown"><a routerLink="/newlogin"style="color:white;" class="nav-link scrollto active" >Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
    </header>
<div>
    <router-outlet></router-outlet>
</div>




    